:root {
  --color-red: #f00;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffeb3b;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, .h1 {
  font-size: 3.8rem;
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 2.2rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

div#content {
  grid-area: content;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "content";
  grid-template-columns: auto;
  gap: 10px;
}

code {
  font-family: "Source Code Pro", monospace;
}

.alert {
  display: block;
  padding: 5px;
  background: var(--color-red);
  color: var(--color-white);
  text-align: center;
}

@media screen and (min-width: 992px) {
  main {
    grid-template-areas:
      "header header"
      "aside content";
    grid-template-columns: 30% 70%;
  }
}

@media print {
  .alert {
    display: none;
  }

  main {
    grid-template-areas:
      "header header"
      "aside content";
    grid-template-columns: 30% 70%;
  }
}