:root {
  --color-red: #f00;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffeb3b;
  --color-orange: #FF9800;
  --color-grey: #212121;
  --color-light-grey: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, .h1 {
  font-size: 3.8rem;
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 2.2rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

small, .small, sub, .sub, sup, .sup {
  font-size: 0.8em;
}

code, .code, pre, .pre {
  font-family: "Source Code Pro", monospace;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

div#content {
  grid-area: content;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "content";
  grid-template-columns: auto;
  gap: 10px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

.font-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.font-source-code-pro {
  font-family: "Source Code Pro", sans-serif;
}

.img-responsive {
  display: inline-block;
  width: 117px;
}

.alert {
  display: block;
  padding: 5px;
  background: var(--color-red);
  color: var(--color-white);
  text-align: center;
}

.landing-upper {
  color: var(--color-grey);
  background-color: var(--color-yellow);
}

.landing-content {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.landing-content>.text {
  padding-left: 20px;
}

.landing-lower {
  margin-top: -1px;
  height: 10vh;
  border-radius: 0 0 50% 50%;
  background-color: var(--color-yellow);
}

@media screen and (min-width: 992px) {
  main {
    grid-template-areas:
      "header header"
      "aside content";
    grid-template-columns: 30% 70%;
  }
}

@media print {
  .alert {
    display: none;
  }

  main {
    grid-template-areas:
      "header header"
      "aside content";
    grid-template-columns: 30% 70%;
  }
}