:root {
  --color-red: #f00;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffeb3b;
  --color-orange: #FF9800;
  --color-grey: #212121;
  --color-middle-grey: #616161;
  --color-light-grey: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 3.8rem;
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 2.2rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

a, .a {
  color: var(--color-grey);
}

a:hover, .a:hover,
a:active, .a:active,
a:focus, .a:focus {
  color: var(--color-middle-grey);
}

small, .small, sub, .sub, sup, .sup {
  font-size: 0.8em;
}

code, .code, pre, .pre {
  font-family: "Source Code Pro", monospace;
}

p, .p {
  margin-bottom: 5px;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  padding-left: 20px;
  padding-right: 20px;
}

div#content {
  grid-area: content;
  padding-left: 20px;
  padding-right: 20px;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "content";
  grid-template-columns: auto;
  gap: 10px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

.font-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.font-source-code-pro {
  font-family: "Source Code Pro", sans-serif;
}

.img-responsive {
  display: inline-block;
  width: 117px;
  border-radius: 50%;
}

.alert {
  display: block;
  padding: 5px;
  background: var(--color-red);
  color: var(--color-white);
  text-align: center;
}

.landing-upper {
  color: var(--color-grey);
  background-color: var(--color-yellow);
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

.landing-content>.text {
  padding-left: 20px;
  text-align: center;
}

.landing-lower {
  display: block;
  margin-top: -1px;
  height: 10vh;
  border-radius: 0 0 50% 50%;
  background-color: var(--color-yellow);
}

.contact i {
  color: var(--color-orange);
}

@media screen and (min-width: 540px) {
  main {
    grid-template-areas:
      "header header"
      "aside content";
    grid-template-columns: 40% 60%;
  }

  aside {
    grid-area: aside;
    padding-left: 20px;
    padding-right: 0;
  }
  
  div#content {
    grid-area: content;
    padding-left: 0;
    padding-right: 20px;
  }

  .landing-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
  }
  
  .landing-content>.text {
    text-align: left;
  }
}

@media print {
  .landing-upper {
    background-color: var(--color-yellow) !important;
    -webkit-print-color-adjust: exact;
  }

  .landing-lower {
    background-color: var(--color-yellow) !important;
    -webkit-print-color-adjust: exact;
  }
  
  a, .a {
    text-decoration: none;
  }

  aside {
    grid-area: aside;
    padding-left: 20px;
    padding-right: 0;
  }
  
  div#content {
    grid-area: content;
    padding-left: 0;
    padding-right: 20px;
  }

  .landing-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
  }
  
  .landing-content>.text {
    text-align: left;
  }

  .alert {
    display: none;
  }

  main {
    grid-template-areas:
      "header header"
      "aside content";
    grid-template-columns: 40% 60%;
  }
}